body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header.index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header.index .logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

header.index .logo h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.buscarContactos {
    flex: 1;
    padding: 20px;
    display: flex;
}

.buscarContactos input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.buscarContactos button {
    background-color: white;
    color: #4caf4f;
    border: none;
    padding: 8px 12px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.botones {
    display: flex;
}

.botones a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    text-decoration: none;
    background-color: white;
    color: #4caf50;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.botones a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.botones a:active {
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* main */
.contactoCard {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: lightgray;
    width: 90%;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.contactoImg img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.contactoCard:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    background-color: rgba(224, 255, 224, 0.568);
    cursor: pointer;
}

.noContacto {
    text-align: center;
    padding: 20px;
    color: rgb(94, 94, 94);
}

/* addContacto */
.botones img {
    width: 70%;
}

main.addContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    color: white;
    background-color: #4caf4fd2;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
}

.container h2 {
    text-align: center;
}

form {
    padding: 20px;
}

input {
    width: 90%;
    padding: 10px 15px;
    font-size: 0.8em;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    color: #333;
    margin-top: 5px;
}

form button {
    text-align: center;
}

/* dialog */
#dialogForm {
    border: none;
    padding: 0;
    box-shadow: none;
    border-radius: 20px;
    border: 1px solid white;
}

button[type="submit"] {
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

button[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button[type="button"] {
    background-color: darkred;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

button[type="button"]:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formButtons button {
    cursor: pointer;
}

/* detalles contacto */
a.cerrarSesion {
    background-color: red;
}

.mensajeCard {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: lightgray;
    width: 50%;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.mensajeInfo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
}

.mensajeInfo p {
    margin: 0;
}

.mensajeInfo p:last-child {
    text-align: right;
    font-size: 0.9em;
    color: #888;
}